.side-drawer {
        height: 100%;
        background: white;
        box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        padding: 1rem;
        width: 70%;
        max-width: 250px;
        z-index: 200;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
}
.side-drawer img{
        width: 90%;
}
.side-drawer nav,li, ul {
        width: 100%
}

.side-drawer.open {
        transform: translateX(0);
}
.spacer {
        flex: 1;
      }
      
.side-drawer ul {
        list-style: none;
        display: flex;
        margin-top: 5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding: 0;
}
.side-drawer-navigation__item{
        border: solid 2px #4C2207;
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0.5rem;
        transition: 0.5s;
        cursor: pointer;
}
.side-drawer-navigation__item:hover{
        background-color:  #4C2207;
        color :#FFF
}

.side-drawer a {
        color: inherit;
        text-decoration: none;
        font-size: 1.5rem;
}

