.container-login {
        background: url('../../assets/images/coffe_backgorund2.jpg') no-repeat;
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
}

.container-login img {
        width: 80%;
        margin: 1rem;
}

.container-login h1 {
        margin: 1rem 0 0 0
}

.login-form__controls {
        display: flex;
        justify-content: center;
}